{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block content %}
    <h1 align="center">Users</h1>
    <ul class="list-group list-group-flush" id="users">
        {% if users %}
            {% for user in users %}
                <li class="list-group-item">
                    User: {{ user.email }}
                    <button type="button" class="close" onClick="deleteUser( {{ user.id }} )">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            {% endfor %}
        {% else %}
            <p>Nenhum usuário cadastrado.</p>
        {% endif %}
    </ul>
{% endblock %}
